body{
	text-rendering: optimizelegibility;
}

hr{
	border: 0 $hr solid;
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-bottom-color:lighten($hr, 33%);
	clear: both;
	height: 0;
}

ol{
	list-style: decimal;
}

ul{
	list-style: none;
	padding: 0;
}

li{
	margin-left: $padding-half;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure{
	margin-bottom: $padding-half;
}

//revisar por que no funciona agrupadas
*{
	&::selection{
		color:$selection-color;
		background-color:$selection-bg;
	}
	&::-moz-selection {
		color:$selection-color;
		background-color:$selection-bg;
	}
}

// Alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: $padding-half;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $padding-half;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.text-center{ text-align: center; }


