// http://sonspring.com/journal/clearing-floats
%clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

// http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified
%clearfix:before,
%clearfix:after{
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
%clearfix:after{
	clear: both;
}

%box-model{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: $padding-half;
	padding-right: $padding-half;
}

@mixin link($color, $hover, $visited){
	color: $color;
	&:hover, &:focus, &:visited:hover{color: $hover;}
	&:active, &:visited{color: $visited;}
}