@mixin link($color, $hover, $active, $visited){
	color: $color;
	text-decoration: none;
	&:hover, &:focus, &:visited:hover{color: $hover;}
	&:focus { outline: 1px dashed $hover;}
	&:active {color: $active;}
	&:visited {color: $visited;}
}

@mixin build-prefix-values($property, $value, $prefixes: $default-prefixes) {
	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: #{$value};
	}
	#{$property}: #{$value};
}

@mixin opacity($opacity) {
	 opacity: $opacity;
	 $opacityIE: $opacity * 100;
	 filter: alpha(opacity=$opacityIE);
}

@mixin bgImgRetina($pathAndNameImage, $imageExtension) {
	background-image: url($pathAndNameImage + '.' + $imageExtension);
	@media (min--moz-device-pixel-ratio: 1.3),
		(-o-min-device-pixel-ratio: 2.6/2),
		(-webkit-min-device-pixel-ratio: 1.3),
		(min-device-pixel-ratio: 1.3),
		(min-resolution: 1.3dppx) {
			background-image: url($pathAndNameImage + '-2x' + '.' + $imageExtension);
	}
}

@mixin rounded-corners ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow ( $arguments: 0 0 1px #000) {
	-moz-box-shadow: $arguments;
	-webkit-box-shadow: $arguments;
	box-shadow: $arguments;
}

@mixin form-control-focus($color: $input-border-focus) {
	$color-rgba: rgba(red($color), green($color), blue($color), .6);
	&:focus {
		border-color: $color;
		outline: 0;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
	}
}

@mixin linear-gradient ($color_bottom: $black, $color_top: $white){
    background-color: $color_top;
    background-image: -o-linear-gradient(bottom, $color_bottom 10%, $color_top 90%);
    background-image: -moz-linear-gradient(bottom, $color_bottom 10%, $color_top 90%);
    background-image: -webkit-linear-gradient(bottom, $color_bottom 10%, $color_top 90%);
    background-image: -ms-linear-gradient(bottom, $color_bottom 10%, $color_top 90%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.10, $color_bottom), color-stop(0.90, $color_top) );
    background-image: linear-gradient(bottom, $color_bottom 10%, $color_top 90%);
}

@mixin radial-gradient ($color_center: $black, $color_border:  $white){
	background-color: $color_border;
    background-image: -o-radial-gradient(center center, $color_center 10%, $color_border 80%);
    background-image: -moz-radial-gradient(center center, $color_center 10%, $color_border 80%);
    background-image: -webkit-radial-gradient(center center, $color_center 10%, $color_border 80%);
    background-image: -ms-radial-gradient(center center, $color_center 10%, $color_border 80%);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, color-stop(0.10, $color_center), color-stop(0.80, $color_border) );
    background-image: radial-gradient(center center, $color_center 10%, $color_border 80%);
}

// http://sonspring.com/journal/clearing-floats
%clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

// http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified
%clearfix:before,
%clearfix:after{
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
%clearfix:after{
	clear: both;
}

%box-model{
	// -webkit-box-sizing: border-box;
	// -khtml-box-sizing: border-box;
	// -moz-box-sizing: border-box;
	// -o-box-sizing: border-box;
	// box-sizing: border-box;
	@include build-prefix-values('box-sizing', 'border-box');

	padding-left: $padding-half;
	padding-right: $padding-half;
}

%no-select{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

%img-ress{
	img {
		width: 100%;
		max-width: 100%;
	}
}


%text-wrap {
	clear: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}